/* Contact Section */
.contact-section {
    background-color: rgba(11, 14, 17, 0.321);
    padding: 50px 0;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    color:white;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 1em;
    color: white;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    color: #333;
    outline: none;
    transition: border 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
}

button.submit-button {
    background-color: #3895e1;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.submit-button:hover {
    background-color: #3dabf5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        padding: 20px;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 400px;
    border: 0;
    margin: 20px auto;
    display: block;
}
