/* General Navigation Styles */
nav {
    display: flex;
    justify-content: space-between; /* Space between Home and other links */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 10px;
}

/* Home Link */
.nav-home a {
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-home a:hover {
    background-color: transparent;
    color: white;
}

/* Icon Style */
.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Links Group */
.nav-links-group {
    display: flex;
    gap: 15px;
}

.nav-links-group a {
    color: white;
    background-color:transparent;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links-group a:hover {
   text-decoration: underline;
   background-color: transparent;
}
